@use "./element/custom";
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html.dark {
  color-scheme: dark;
  background: #121212;
}

input:-webkit-autofill {
  transition: color 100s, background-color 100s;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
  height: 2px;
  background: rgb(13 148 136);
  opacity: 0.75;
}
